<section class="categories" id="categories">
  <div class="container">
    <h2 class="categories__title title">
      Популярные категории
    </h2>

    <ul class="filter-categories">
      <li class="filter-categories__item">
        <button class="filter-categories__btn filter-categories__btn--burgers" type="button" data-filter="all">
          <svg class="filter-categories__btn-img">
            <use xlink:href="images/sprite.svg#filter--burgers"></use>
          </svg>
          <span class="filter-categories__span">Бургеры</span>
        </button>
      </li>
      <li class="filter-categories__item">
        <button class="filter-categories__btn filter-categories__btn--pizza" type="button" data-filter=".category-b">
          <svg class="filter-categories__btn-img">
            <use xlink:href="images/sprite.svg#filter--pizza"></use>
          </svg>
          <span class="filter-categories__span">Пицца</span>
        </button>
      </li>
      <li class="filter-categories__item">
        <button class="filter-categories__btn filter-categories__btn--sandwiches" type="button"
          data-filter=".category-c">
          <svg class="filter-categories__btn-img">
            <use xlink:href="images/sprite.svg#filter--sandwiches"></use>
          </svg>
          <span class="filter-categories__span">Сендвичи</span>
        </button>
      </li>
      <li class="filter-categories__item">
        <button class="filter-categories__btn filter-categories__btn--asia" type="button" data-filter=".category-d">
          <svg class="filter-categories__btn-img">
            <use xlink:href="images/sprite.svg#filter--asia"></use>
          </svg>
          <span class="filter-categories__span">Азиатская кухня</span>
        </button>
      </li>
      <li class="filter-categories__item">
        <button class="filter-categories__btn filter-categoriess__btn--sets" type="button" data-filter=".category-e">
          <svg class="filter-categories__btn-img">
            <use xlink:href="images/sprite.svg#filter--sets"></use>
          </svg>
          <span class="filter-categories__span">Cеты</span>
        </button>
      </li>
    </ul>

    <ul class="categories__items">
      <li class="categories__item">
        <!-- Правильно ли так по БЭМ? Имею ввиду лишка с class="categories__item", в внутри article class="product-card"? -->
        <article class="product-card">
          <div class="product-card__inner mix category-a">
            <img class="product-card__img" width="140" height="140" src="images/product-card/01.jpg"
              alt="Чизбургер с листьями салата">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__span">
                160 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>

      <li class="categories__item">

        <article class="product-card">
          <div class="product-card__inner mix category-b">
            <img class="product-card__img" width="140" height="140" src="images/product-card/02.jpg" alt="Бифбургер">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Бифбургер
              </h3>
              <span class="product-card__span">
                190 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>

      <li class="categories__item">

        <article class="product-card">
          <div class="product-card__inner mix category-c">
            <img class="product-card__img" width="140" height="140" src="images/product-card/03.jpg"
              alt="Королевский чизбургер">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Королевский чизбургер
              </h3>
              <span class="product-card__span">
                260 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>

      <li class="categories__item">

        <article class="product-card">
          <div class="product-card__inner mix category-d">
            <img class="product-card__img" width="140" height="140" src="images/product-card/04.jpg"
              alt="ерный гамбургер">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Черный гамбургер
              </h3>
              <span class="product-card__span">
                199 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>

      <li class="categories__item">

        <article class="product-card">
          <div class="product-card__inner mix category-e">
            <img class="product-card__img" width="140" height="140" src="images/product-card/05.jpg" alt="Чикен бургер">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Чикен бургер
              </h3>
              <span class="product-card__span">
                180 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>

      <li class="categories__item">

        <article class="product-card">
          <div class="product-card__inner mix category-a">
            <img class="product-card__img" width="140" height="140" src="images/product-card/01.jpg"
              alt="Чизбургер с листьями салата">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__span">
                160 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>

      <li class="categories__item">

        <article class="product-card">
          <div class="product-card__inner mix category-b">
            <img class="product-card__img" width="140" height="140" src="images/product-card/02.jpg" alt="">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Бифбургер
              </h3>
              <span class="product-card__span">
                190 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>

      <li class="categories__item">

        <article class="product-card">
          <div class="product-card__inner mix category-b">
            <img class="product-card__img" width="140" height="140" src="images/product-card/03.jpg" alt="">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Королевский чизбургер
              </h3>
              <span class="product-card__span">
                260 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>

      <li class="categories__item">

        <article class="product-card">
          <div class="product-card__inner mix category-d">
            <img class="product-card__img" width="140" height="140" src="images/product-card/04.jpg" alt="">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Черный гамбургер
              </h3>
              <span class="product-card__span">
                199 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>

      <li class="categories__item">

        <article class="product-card">
          <div class="product-card__inner mix category-e">
            <img class="product-card__img" width="140" height="140" src="images/product-card/05.jpg" alt="">
            <div class="product-card__wrapper">
              <h3 class="product-card__title">
                Чикен бургер
              </h3>
              <span class="product-card__span">
                180 <span>руб.</span>
              </span>
            </div>
            <button class="product-card__btn btn-accent" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
    </ul>

    <div class="categories__dropdown ">
      <button class="categories__btn categories__wrapper-click wrapper-click status outline" type="button">Показать
        еще</button>
    </div>
  </div>
</section>