  <article class="product-card">
    <div class="product-card__inner mix category-@mix">
      <img class="product-card__img" width="140" height="140" src="@img"
        alt="Чизбургер с листьями салата">
      <div class="product-card__wrapper">
        <h3 class="product-card__title">
          @title
        </h3>
        <span class="product-card__span">
          @price <span>руб.</span>
        </span>
      </div>
      <button class="product-card__btn btn-accent" type="button">
        В корзину
      </button>
    </div>
  </article>